<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Quote & Bible Verse</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app">
    <header>
      <h1>{{msg}}</h1>
    </header>
    <main>
      <div class="content-wrapper">
        <h1>Get Inspired</h1>
        <button @click="getRandomQuote">Generate Random Quote</button>
        <button @click="getRandomBibleVerse">Generate Random Bible Verse</button>
        <div v-if="randomBibleVerse">
          <h3>Random Bible Verse:</h3>
          <p>{{ randomBibleVerse }}</p>
        </div>
        <div v-if="randomQuote">
          <h3>Random Quote:</h3>
          <p>{{ randomQuote }}</p>
        </div>
      </div>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.prod.js"></script>
  <script src="script.js"></script>
</body>
</html>
